.notVerified {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 25px;
    font-weight: 600;
    color: var(--blue-color);
}

.verified-buttons{
    display: flex;
    gap:15px;
}
.loginButton,
.resendButton {
    border: 2px solid var(--blue-color);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: normal;
}

.loginButton:hover,
.resendButton:hover {
    background: var(--blue-color);
    color: white;
}